body {
    color: white;
    background-color: black;
  }
  

  
  #arrow {
    margin-top: 10px;
    font-size: 2.5em;
    color: white;
  }
  
  #cover {
    margin-right: 15%;
  }
  
  #artist-img {
    width: 50%;
    border-radius: 40px;
    margin-right: 5px;
  }
  
  #play-button {
    font-size: 1.8em;
  }
  
  button {
    border-style: none;
    background-color: black;
    color: white;
    padding: 6px;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .not-clicked {
    background-color: transparent;
    border: 2px outset #ffffff;
  }
  
  .clicked {
    border: 2px inset #ffffff;
    background-color: transparent;
  }
  
  .container h5:hover {
    cursor: pointer;
  }
  
  @media screen and (max-width: 1200px) {
    .comands {
      margin-left: 20px;
      display: flex;
      justify-content: space-between;
    }
    
    
 
    .detailName {
      position: absolute;
      bottom: 30px;
      font-size: 2.2em;
    }
  

    #ascoltatori {
      position: absolute;
      bottom: -60px;
    }
  
    #background-img {
      
      height: 300px;
      background-size: cover;
    }
  
    #tracklist-conteiner {
      margin-left: 5%;
      margin-right: 5%;
    }
  
    #first-comands {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 30px;
      width: 20%;
      font-size: 1.7em;
    }
  
    #second-comands {
      display: flex;
      align-items: center;
      font-size: 1.7em;
      margin-right: 5%;
    }
  
    #play-button {
      font-size: 2.1em;
    }
  }
  
  @media screen and (min-width: 1200px) {
    #background-img {
      width: 100%;
      height: 700px;
     
      background-position: center;
      
    }
  
    .detailName {
      position: absolute;
      bottom: 30px;
      font-size: 2.2em;
    }
  
    #ascoltatori {
      position: absolute;
      bottom: -10px;
    }
  
    #arrow:hover {
      cursor: pointer;
    }
  
    .comands {
      display: flex;
      justify-content: flex-end;
      flex-direction: row-reverse;
      margin-left: 2%;
      margin-bottom: 2%;
    }
  
    #first-comands {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 12%;
      font-size: 1.3em;
    }
  
    #second-comands {
      display: flex;
      align-items: center;
      font-size: 2.7em;
      margin-right: 2%;
    }
  
    #shuffle {
      display: none;
    }
  
   
      .user{
        width: 20%;
        height: 70%;
        border-radius: 80px;
        margin-right: 20px;
      }
   
      #artist-img{
        width: 30px;
        height: 30px;
        border-radius: 40px;
        margin-right: 5px;
      }
     
      
  }
  
/*header e aside*/

#artist-img{
  width: 30px;
  height: 30px;
  border-radius: 40px;
  margin-right: 5px;
}
aside{
  
  width: 260px;
  background-color: black;
}
header{
  width: 260px;
  background-color: black;
}
li{
  list-style: none;
}
ul{
  padding: 0;
}
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}
