body{
    color: white;
    background-color: black;
}

#arrow{ 
    margin-top: 10px;
    font-size: 2.5em;
    color: white;
    
}

#cover{
   margin-right: 15%;
}

#artist-img{
    width: 50%;
    border-radius: 40px;
    margin-right: 5px;
}
#song-img{
    width: 100%;
   
}
#play-button{
    font-size: 1.8em; 
}
button{
  
    border-style: none;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 6px;
}
#background-img{
    height: 300px;
    background-size: cover;
}
p{
    color: grey;
    margin: 0;
}
#tracklist-conteiner{
    margin-left: 5%;
    margin-right: 5%;
}
