body {
    color: white;
    background-color: black;
  }
aside{
    min-width: 180px;
}

header{
    min-width: 200px;
}
li {
  list-style: none;
  padding: 0.5rem;
}

ul {
  padding: 0;
}
p {
  margin: 3px;
}
#playList p {
  padding: 0.3rem;
}

  #arrow {
    margin-top: 10px;
    font-size: 2.5em;
    color: white;
  }
#conteiner-artist{
  flex-grow: 1;
  max-width: 1000px;
}
  #artist-img {
    width: 50%;
    border-radius: 40px;
    margin-right: 5px;
  }
  .side-img{
    width: 30px;
    height: 30px;
    border-radius: 40px;
    margin-right: 5px;
}
  #play-button {
    font-size: 1.8em;
  }
  
  button {
    border-style: none;
    background-color: black;
    color: white;
    padding: 6px;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .not-clicked {
    background-color: transparent;
    border: 2px outset #ffffff;
  }
  
  .clicked {
    border: 2px inset #ffffff;
    background-color: transparent;
  }
  
  .container h5:hover {
    cursor: pointer;
  }
  
  @media screen and (max-width: 1200px) {
    .comands {
      margin-left: 20px;
      display: flex;
      justify-content: space-between;
    }
    
    
    .sidebar{
        display: none;
    }
    .dekstopNav{
        display: none;
    }
    .detailName {
      position: absolute;
      bottom: 30px;
      font-size: 2.2em;
    }
  

    #ascoltatori {
      position: absolute;
      bottom: -60px;
    }
  
    #background-img {
      
      height: 300px;
      background-size: cover;
    }
  
    #tracklist-conteiner {
      margin-left: 5%;
      margin-right: 5%;
    }
  
    #first-comands {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 30px;
      width: 20%;
      font-size: 1.7em;
    }
  
    #second-comands {
      display: flex;
      align-items: center;
      font-size: 1.7em;
      margin-right: 5%;
    }
  
    #play-button {
      font-size: 2.1em;
    }
  }
  
  @media screen and (min-width: 1200px) {
    #background-img {
      max-width: 1200px;
      min-width: 600;
      max-height: 900px;
      min-height: 340px;
      background-repeat: no-repeat;
      background-position: center;
      
      
    }
  
    .detailName {
      position: absolute;
      bottom: 30px;
      font-size: 2.2em;
    }
  
    #ascoltatori {
      position: absolute;
      bottom: -10px;
    }
  
    #arrow:hover {
      cursor: pointer;
    }
  
    .comands {
      display: flex;
      justify-content: flex-end;
      flex-direction: row-reverse;
      margin-left: 2%;
      margin-bottom: 2%;
    }
  
    #first-comands {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 12%;
      font-size: 1.3em;
    }
  
    #second-comands {
      display: flex;
      align-items: center;
      font-size: 2.7em;
      margin-right: 2%;
    }
  
    #shuffle {
      display: none;
    }
      .user{
        width: 20%;
        height: 70%;
        border-radius: 80px;
        margin-right: 20px;
      }
  }
  #artist-img {
    width: 50px;
    height: 50px;
    border-radius: 40px;
    margin-right: 5px;
    
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
/*icone*/
.bi-plus-lg{
  background-color: lightgray;
  color: black;
  padding: 0.2em;
  border-radius: 2px;
}
.bi-heart-fill{
  background: rgb(137,4,245);
background: linear-gradient(128deg, rgba(137,4,245,1) 0%, rgba(142,78,195,1) 50%, rgba(168,119,175,1) 96%);
color: white;
padding: 0.4em;
border-radius: 2px;
font-size: 0.8em;
}
.bi-bookmark-fill{
  color: rgb(37, 196, 37);
background-color: rgb(4, 92, 4);
padding: 0.4em;
border-radius: 2px;
font-size: 0.8em;
}