@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap");


body {
    color: white;
    background-color: black;
    background: linear-gradient( rgb(0, 0, 0)0%, rgb(7, 7, 7, 0.8) 30%);
}
  
#search-container {
    display: flex;
    align-items: center;
    margin: 5vh;
  }

  /* SEZIONE CARD SEARCH */
  @media (max-width: 380px) {
    .col{
      position: relative;
      height: 7vh;
      max-width: 13vh;
    }
    .image-container {
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translate(35%, 4%) rotate(20deg);
      width: 25%;
      height: 35%;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }
    
  }

.col{
  color: #fff;
    overflow: hidden;   
    position: relative;
    height: 14vh;
    max-width: 26vh;
    
    background-size: cover;
    margin: 5px;
   
}
a,.bi:hover{
  
  cursor: pointer;
}

.bi{scale: 1.5;}

.image-container {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(35%, 4%) rotate(20deg);
  width: 50%;
  height: 71%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.rotated-image {
  max-width: 100%;
  border-radius: inherit;
  height: 100%;
  object-fit: cover;
 
}
/* ----------- */
form.nosubmit {
   border: none;
   padding: 0;
  }
input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 1.5em;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
  }
input[type="search"]::placeholder {
    color: #bbb;
  }

