@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap");


body {
    color: white;
    background-color: black;
    background: linear-gradient( rgb(0, 0, 0)0%, rgb(7, 7, 7, 0.8) 30%);
}

#search-container input[type="search"] {
  background-image: url("path/to/lente-icon.png");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 30px; /* aggiungi uno spazio per l'icona */
}
  
#search-container {
    display: flex;
    align-items: center;
    margin: 5vh;
  }

  /* SEZIONE CARD SEARCH */
  @media (max-width: 380px) {
    .col{
      position: relative;
      height: 7vh;
      max-width: 13vh;
    }
    .image-container {
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translate(35%, 4%) rotate(20deg);
      width: 25%;
      height: 35%;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }
    
  }

.col{
  color: #fff;
    overflow: hidden;   
    position: relative;
    height: 14vh;
    max-width: 26vh;
    
    background-size: cover;
    margin: 5px;
   
}
a,.bi:hover{
  
  cursor: pointer;
}

.bi{scale: 1.5;}

.image-container {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(35%, 4%) rotate(20deg);
  width: 50%;
  height: 71%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.rotated-image {
  max-width: 100%;
  border-radius: inherit;
  height: 100%;
  object-fit: cover;
 
}
/* ----------- */
form.nosubmit {
   border: none;
   padding: 0;
  }
input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 1.5em;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
  }
input[type="search"]::placeholder {
    color: #bbb;
  }

  @media screen and (min-width: 768px) {
    h1 {
      text-align: center;
    }
  }






  /* BORDELLO ICONA SEARCH */
  .sbx-custom {
    color: black;
    display: inline-block;
    position: relative;
    width: 200px;
    height: 36px;
    white-space: nowrap;
    box-sizing: border-box;
    font-size: 12px;
  }
  
  .sbx-custom__wrapper {
    width: 100%;
    height: 100%;
  }
  
  .sbx-custom__input {
    display: inline-block;
    transition: box-shadow .4s ease, background .4s ease;
    border: 0;
    border-radius: 13px;
    box-shadow: inset 0 0 0 0px #FFFFFF;
    background: #FFFFFF;
    padding: 0;
    padding-right: 20px;
    padding-left: 25px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    white-space: normal;
    font-size: inherit;
    appearance: none;
  }
  
  .sbx-custom__input::-webkit-search-decoration, .sbx-custom__input::-webkit-search-cancel-button, .sbx-custom__input::-webkit-search-results-button, .sbx-custom__input::-webkit-search-results-decoration {
    display: none;
  }
  
  .sbx-custom__input:hover {
    box-shadow: inset 0 0 0 0px #e6e6e6;
  }
  
  .sbx-custom__input:focus, .sbx-custom__input:active {
    outline: 0;
    box-shadow: inset 0 0 0 0px #FFFFFF;
    background: #FFFFFF;
  }
  
  .sbx-custom__input::placeholder {
    color: #AAAAAA;
  }
  
  .sbx-custom__submit {
    position: absolute;
    top: 0;
    right: inherit;
    left: 0;
    margin: 0;
    border: 0;
    border-radius: 12px 0 0 12px;
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
    width: 25px;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: inherit;
    user-select: none;
  }
  
  .sbx-custom__submit::before {
    display: inline-block;
    margin-right: -4px;
    height: 100%;
    vertical-align: middle;
    content: '';
  }
  
  .sbx-custom__submit:hover, .sbx-custom__submit:active {
    cursor: pointer;
  }
  
  .sbx-custom__submit:focus {
    outline: 0;
  }
  
  .sbx-custom__submit svg {
    width: 17px;
    height: 17px;
    vertical-align: middle;
    fill: #F5F5F5;
  }
  
  .sbx-custom__reset {
    display: none;
    position: absolute;
    top: 2px;
    right: 2px;
    margin: 0;
    border: 0;
    background: none;
    cursor: pointer;
    padding: 0;
    font-size: inherit;
    user-select: none;
    fill: rgba(0, 0, 0, 0.5);
  }
  
  .sbx-custom__reset:focus {
    outline: 0;
  }
  
  .sbx-custom__reset svg {
    display: block;
    margin: 4px;
    width: 13px;
    height: 13px;
  }
  
  .sbx-custom__input:valid ~ .sbx-custom__reset {
    display: block;
    animation-name: sbx-reset-in;
    animation-duration: .15s;
  }
  
  @keyframes sbx-reset-in {
    0% {
      transform: translate3d(-20%, 0, 0);
      opacity: 0;
    }
    100% {
      transform: none;
      opacity: 1;
    }
  }