body {
    color: white;
    background-color: black;
  }
  
#search-container {
    display: flex;
    align-items: center;
    margin: 5vh;
  }
.card{
  color: #fff;
    overflow: hidden;   
    position: relative;
    height: 14vh;
    max-width: 26vh;
    background-size: cover;
    margin: 5px;
}

.image-container {
  
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(35%, 4%) rotate(20deg);
  width: 50%;
  height: 71%;
 
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.rotated-image {
  max-width: 100%;
  border-radius: inherit;
  height: 100%;
  object-fit: cover;
 
 
}

form.nosubmit {
   border: none;
   padding: 0;
  }
input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 1.5em;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
  }
input[type="search"]::placeholder {
    color: #bbb;
  }

