body {
    color: white;
    background-color: black;
}

aside {
    min-width: 220px;
}

header {
    min-width: 300px;
}

p {
    margin: 3px;
  }

li {
    list-style: none;
    padding: 0.5rem;
}

ul {
    padding: 0;
}

#playList p {
    padding: 0.3rem;
}

.top-section {
    background: rgb(33,37,41);
    background: linear-gradient(204deg, rgba(33,37,41,1) 10%, rgba(0,0,0,1) 73%);
    border-radius: 5px;
}
#artist-img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-right: 5px;
    
}

.img-card {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color:rgba(24,24,24,255); 
    margin-bottom: 20px;
    
}
.img-card:hover {
    background-color:  rgba(195, 188, 188, 0.525);
    cursor: pointer;
  }

  .card-img-top {
    max-height: 250px;
    object-fit: cover;
  }

.img-sect-2 {
    height: 60px;
}

.six-cards {
    background-color: rgb(59, 59, 59);
    padding: 0;
    border-radius: 10px;
}

.six-cards img {
    border-radius: 10px 0 0 10px;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

#img-top {
    height: fit-content;
    padding: 20px;
}

.btn-play {
    border: 1px solid green;
    border-radius: 30px;
    background-color: green;
    color: black;
    font-weight:500;
    padding: 6px;
    padding-right: 26px;
    padding-left: 26px;
    margin-right: 10px;
}

.btn-salva {
    border: solid 1px white;
    border-radius: 30px;
    background-color: black;
    color: white;
    font-weight:500;
    padding: 6px;
    padding-right: 26px;
    padding-left: 26px;
}

.mainCards {
    background: rgb(175, 145, 144);
    margin: 20px;
}

.mainCards2 {
  
    background:  rgba(36,36,36,1) ;
    margin: 20px;
}

#dot {
    font-size: 3em;
    z-index: 1;
    bottom: 0;
    left: -8px;
}

.img-top {
    max-width: 250px;
    max-height: 250px;
}

#album-container {
    padding-bottom: 50px;
}

#soundbar-img{
    width: 50px;
    margin-top: 5px;
}

/*icone*/
.bi-plus-lg{
    background-color: lightgray;
    color: black;
    padding: 0.2em;
    border-radius: 2px;
  }
  .icon-cuore{
    background: rgb(137,4,245);
  background: linear-gradient(128deg, rgba(137,4,245,1) 0%, rgba(142,78,195,1) 50%, rgba(168,119,175,1) 96%);
  color: white;
  padding: 0.4em;
  border-radius: 2px;
  font-size: 0.8em;
  }
  .bi-bookmark-fill{
    color: rgb(37, 196, 37);
  background-color: rgb(4, 92, 4);
  padding: 0.4em;
  border-radius: 2px;
  font-size: 0.8em;
  }
  /*dropdown*/
  .dropdown{

    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.582);
    
    margin-right: 30px;
    margin-top: 10px;
    border-radius: 60px;
}